<div class=" ps-5 vh-100 vw-100">
    <div class="p-5">
        <div class="input-group d-flex flex-row-reverse w-25 float-end ">
            <button class="btn btn-secondary rounded-3" ><i class="bi bi-search"></i></button>
            <input type="text" class="form-control " placeholder="RECHERCHER">
        </div>
        <div ngbDropdown class="dropdown">
            <button ngbDropdownToggle class="btn btn-secondary" type="button" id="dropdownMenuButton1" aria-expanded="false">Categorie</button>
            <ul ngbDropdownMenu aria-labelledby="dropdownMenuButton1">
                <li ngbDropdownItem >All</li>
                <li ngbDropdownItem >Fiche de paie</li>
                <li ngbDropdownItem >Contrat</li>
                <li ngbDropdownItem >Autre</li>
            </ul>
        </div>
        <div class="mx-auto">
            <div *ngIf="files.length==0" class="d-flex">
                <p class="text-dark m-auto mt-5 " style="font-size: larger;font-weight:500">Aucun fichier</p>
            </div>
            <div *ngIf="files" class="row row-cols-auto m-5 ">
                        <div class="card  text-center  bg-dark  col m-3 " style="width: 20%; height:10%" *ngFor="let file of files" >
                            <div class="card-top">
                                <span class=" card-img-top bi bi-cloud-plus  text-white" style="font-size: 5em;"></span>
                            </div>
                            <div class="card-body">
                                <button class="btn btn-outline-light" (click)="display_file(file.filePath)">
                                    <p class="card-text text-white  ">{{ file.name_file }}</p>
                                </button>
                            </div>
                        </div>
            </div>
        </div>
    </div>
</div>