<div style="background-color: #65676A; height:60vh; border-bottom:red 2px solid " class="w-100  ">
    <div class=" d-flex position-absolute top-0 end-0 px-5 pt-3">
        <a class="bg-black border-0 rounded-2 mx-2 text-white p-1 text-decoration-none" [routerLink]="['/connexion']">
            Connexion
        </a>
        <a class="bg-black border-0 rounded-2 mx-2 text-white p-1 text-decoration-none " [routerLink]="['/subcribe']">
            Inscription
        </a>

    </div>
    <div class="d-flex text-center">
        <img src="../../assets/upload-icon.png" alt="" style="margin-left: 20%; width:25%; height:25%">

        <div class="mt-5 " style="margin-left: -20%;">
            <img src="../../assets/logo.png" alt="" style="width: 30%;height: 50%;" class="mt-2">
            <h5 class="text-white " style="margin-top: -5%;">Sauvegarder vos documents en <br> toute sécurité</h5>
        </div>

    </div>
</div>
<div class="container p-5  d-flex justify-content-center">
    <div class="card  text-center bg-dark-subtle" style="width: 20%; height:100%">
        <span class=" card-img-top bi bi-person-fill text-white " style="font-size: 5em;"></span>
        <div class="card-body bg-dark">
            <p class="card-text text-white ">Connectez vous</p>
        </div>
    </div>
    <span class="bi bi-arrow-right-short" style="font-size: 8em;"></span>
    <div class="card  text-center bg-dark-subtle" style="width: 20%; height:10%">
        <span class=" card-img-top bi bi-cloud-plus  text-white" style="font-size: 5em;"></span>
        <div class="card-body bg-dark">
            <p class="card-text text-white ">Ajoutez un fichier</p>
        </div>
    </div>
    <span class="bi bi-arrow-right-short" style="font-size: 8em;"></span>
    <div class="card  text-center bg-dark-subtle" style="width: 19%; height:10%">
        <span class=" card-img-top bi bi-archive text-white " style="font-size: 5em;"></span>
        <div class="card-body bg-dark">
            <p class="card-text text-white">Retrouvez le document</p>
        </div>
    </div>
</div>